/* ----design tokens-----*/
:root {
    --color-green-dark: #2D4A3E;
    --color-green: #40916C;
    --color-green-light: #7DBE9A;
    --color-brown: #7B4F2E;
    --color-tan: #CBA97E;
    --color-cream: #F5F0BE;
    --color-white: #FFFFFF;
    --color-text: #1A1A1A;
    
}